# Dependencies
node_modules/

# Environment variables (JANGAN sampai ke GitHub!)
.env
.env.local
.env.production

# Build output
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/